<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue.js wrapper component example (jquery plugin: select2)</title>
    <!-- Delete ".min" for console warnings in development -->
    <script src="../../dist/vue.js"></script>
    <style>
      html, body {
        font: 13px/18px sans-serif;
      }
      select {
        min-width: 300px;
      }
    </style>
  </head>
  <body>

    <div id="el">
    </div>

    <!-- using string template here to work around HTML <option> placement restriction -->
    <script type="text/x-template" id="demo-template">
      <div v-if="show">

        <div v-for="(item,index) in options" :key="item.id">
          {{item.id}}
          <div>{{item.text}}</div>
        </div>
        
      </div>

      <div v-else-if="options">ddd</div>

      <div v-else>haha</div>
    </script>

    
    <script>
  

    var vm = new Vue({
      el: '#el',
      template: '#demo-template',
      data: {
          show:true,
        options: [
          { id: 1, text: 'Hello' },
          { id: 2, text: 'World' }
        ]
      }
    })
    </script>
  </body>
</html>
